/*.roadmaps-table {*/
/*table-layout: fixed;*/
/*width: 100%;*/
/*}*/

.roadmaps-table th {
    background: #000;
    color: white;
    text-align: left;
    padding-left: 10px;
}

/*.roadmaps-table th.th-time {*/
/*width: 10px;*/
/*}*/

.roadmaps-table td {
    padding: 2px;
    position: relative;
}

.roadmaps-table td.start-date-update-trigger,
.roadmaps-table td.end-date-update-trigger {
    cursor: pointer;
}

.roadmaps-table tr.child-close {
    display: none;
}

.roadmaps-table .level-0 {
    background: #ddd;
    font-weight: bold;
}

.roadmaps-table .level-1 {
    background: #ccc;
}

.roadmaps-table .level-2 {
    background: #bbb;
}

.roadmaps-table .level-3 {
    background: #aaa;
}

.roadmaps-table .level-4 {
    background: #999;
}

.roadmaps-table .toggler {
    background: none;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    padding: 2px;
}

.roadmaps-table .left-border .token-resize-handle,
.roadmaps-table .right-border .token-resize-handle {
    /*background: red;*/
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    z-index: 2;
}



.roadmaps-table .token-resize-handle-left {
    left: 0;
}

.roadmaps-table .token-resize-handle-right {
    right: 0;
}

.roadmaps-table .filled .token-grab-handle {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 2;
    cursor: grab;
}

.roadmaps-table.baby .filled .token-grab-handle,
.roadmaps-table.baby .left-border .token-resize-handle,
.roadmaps-table.baby .right-border .token-resize-handle{
    cursor: default;
}


.roadmaps-table .left-border .token-resize-handle-right,
.roadmaps-table .right-border .token-resize-handle-left {
    display: none;
}

.roadmaps-table .left-border.right-border .token-resize-handle-right,
.roadmaps-table .left-border.right-border .token-resize-handle-left {
    display: block;
}

.dialog-standard {
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
}

.dialog-standard ul {
    list-style-type: none;
}

.dialog-standard li {
    margin-top: 10px;
}

/*------------------------------------
- FIRST CELL BUTTONS
------------------------------------*/

.first-column-cell {
    display: flex;
    align-items: center;
}

.first-column-cell .label {
    flex: auto;
    cursor: pointer;
    /*white-space: nowrap;*/
}

.first-column-cell .label:hover {
    text-decoration: underline;
}

.first-column-cell button {
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.first-column-cell button i {
    font-size: 20px;
}

.first-column-cell button:hover i {
    color: #666;
}

.first-column-cell .sort button {
    width: 20px;
    height: 12px;
    position: relative;
}

.first-column-cell .sort button i {
    position: absolute;
    top: -2px;
    left: -2px;
}

.first-column-cell .sort-up-trigger,
.first-column-cell .sort-down-trigger,
.first-column-cell .leftmove-trigger,
.first-column-cell .rightmove-trigger {
    display: none;
}

.has-prev-sibling .first-column-cell .sort-up-trigger,
.has-next-sibling .first-column-cell .sort-down-trigger,
.can-become-parent .first-column-cell .leftmove-trigger,
.can-become-child .first-column-cell .rightmove-trigger {
    display: block;
}

th.first-column-cell {
    display: table-cell;
}

th.first-column-cell button {
    float: right;
}

th.first-column-cell button i {
    color: #eee;
}

th.first-column-cell button:hover i {
    color: #999;
}

.action-topcontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 10000;
}

.action-topcontainer div {
    margin: 5px;
}

.period-prev,
.period-next {
    cursor: pointer;
}

.period-prev:hover,
.period-next:hover {
    color: #666;
}

.ui-widget.ui-widget-content {
    z-index: 100000;
}

.project-cursor {
    color: white;
    background: rgba(0, 0, 0, 0.1);

}